<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <title>Elasticsearch</title>
  </head>
  <body>
    <h1>Record Domain Value Hie Rls</h1>
    <table class="table table-responsive table-bordered table-hover">
      <thead style="background-color: aquamarine;">
        <th>ID</th>
        <th>First Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Zip</th>
      </thead>
      <% for (var i = 0; i < hits.length; i++) { %>
      <tr>
        <td><%= hits[i]['_id'] %></td>
        <td><%= hits[i]['_source']['first_name'] %></td>
        <td><%= hits[i]['_source']['street_address'] %></td>
        <td><%= hits[i]['_source']['city'] %></td>
        <td><%= hits[i]['_source']['zip_code'] %></td>
      </tr>
      <% } %>
    </table>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
